<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Content/material-components-web.min.css" type="text/css">
    <link rel="stylesheet" href="Content/invoice.css" text="text/css">
    <script 
        src="https://code.jquery.com/jquery-3.3.1.min.js" 
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
        crossorigin="anonymous"></script>
    <script src="Scripts/Invoice.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
