@model InvoicePrototype.Models.FullAndPartialViewModel

<ul class="mdc-list mdc-list--two-line" style="float:left;max-height:300px;overflow:scroll;width:30%;">
    @foreach(var item in Model.Items){
        <li class="mdc-list-item" id="@item.Id"> 
            <span class="mdc-list-item__text">
                @item.Description
                <span class="mdc-list-item__secondary-text">
                @item.UnitPrice
                </span>
            </span>
        </li>
    }
</ul>
<div style="float:left;width:60%;padding:2%;">
    <table style="width:100%">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Tax (%)</th>
                <th>Total Tax</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="selectedItems">
@{
    Html.RenderPartial("InvoiceTable");   
}
        </tbody>
    </table>
</div>
