@model InvoicePrototype.Models.InvoiceResult
@{
    ViewBag.Title = "Invoice";
}
<div style="width:80%;margin:0 auto;">
    <div style="width:71%;float:left;"><span>Place for logo</span></div>
    <div style="width:28.8%;float:left;border:1px solid black;">
        <span style="float:left;">Invoice Number</span>
        <span style="float:right;">1</span>
    </div>
     <div style="width: 71%;margin:auto;float: left;"><h2>Apu Beverages Inc</h2></div>
    <div style="width:28.8%;float: left;border:1px solid black;">
        <span style="float:left;">Invoice date</span>
        <span style="float:right;">2018-05-30</span>
    </div>
   

    <table style="width:100%;">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Tax (%)</th>
                <th>Total Tax</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="selectedItems">
@{
    Html.RenderPartial("InvoiceTable", Model.InvoiceTable);   
}
        </tbody>
    </table>
</div>
